* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark-main: #03a9f4;
  --light-main: #03a9f43d;
  --dark-grey: #ddd;
  --light-grey: #eee;
  --black-color: #000000;
  --white-color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start special heading */
h2.heading {
  width: fit-content;
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  color: var(--dark-main);
}
h2.heading::before {
  content: "";
  height: 5px;
  width: 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  border-radius: 10px;
  transition: 0.5s;
  background-color: var(--dark-main);
}
h2.heading:hover::before {
  width: 100%;
}
/* end special heading */
/* starting header */
header {
  background-color: var(--dark-grey); 
  color: var(--black-color); 
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header .container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a.lo {
  display: flex;
}
header a img {
  width: 70px;
}
header .burger {
  display: none;
  cursor: pointer;
}
header .burger .line {
  width: 25px;
  height: 3px;
  background-color: var(--dark-main);
  margin: 5px;
  transition: all 0.3s ease;
}
header .burger.open .line:nth-child(1) {
  transform: rotate(45deg);
  background-color: var(--black-color);
  position: relative;
  top: 8px; 
}
header .burger.open .line:nth-child(2) {
  opacity: 0;
}
header .burger.open .line:nth-child(3) {
  transform: rotate(-45deg);
  background-color: var(--black-color);
  position: relative;
  top: -8px; 
}
header ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
}
header ul li a {
  text-decoration: none;
  transition: all 0.3s ease; 
  display: block;
}
header ul li:hover {
  background-color: var(--light-main);
}
@media (max-width: 768px) {
  header .burger {
      display: block;
  }

  header ul {
      display: none;
      flex-direction: column;
  }

  header ul.active {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--light-grey);
    width: 100%;
    padding: 7px 0;
    z-index: 999;
  }
  header ul li {
      width: 90%;
      text-align: center;
      padding: 7px;
  }
}
/* ending header */
/* start about */
.about {
  padding-top: 100px;
  padding-bottom: 50px;
}
/* end about */